!!! 5
%html
    %head
        %meta{:charset => 'utf-8'}
        %title= "s02KT1"
        %link{:href => './css/style.css', :type => 'text/css', :rel => 'stylesheet'}
    %body
        %div#header
            %img(src="./img/default-logo.png" alt="logo")
            %div.hamb
                %div
                %div
                %div
        %div.container1
            .blog_text
                %h1 PET BLOG
                %p Блог о псе по имени DUKE. Lorem ipsum dolor sit amet, consectetur adipiscing elitorire aenean a dapibus magna, ac interdum nisl. Suspendisse egetil fringilla nibh, eu commodo arcu. 
                %div
                    %button.button1 READ MORE
            %div
                %img(src="./img/qq.jpg" alt="PESDUKE" width="100%" height="100%")
        %div.container2
            .left_box
                %div
                    %img(src="./img/xzzxx.jpg" alt="dama&sobaka" width="90%" height="90%")
                %div
                    %h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .right_box
                %h1 The Complete Guid​e to Traveling With Your Dog
                %div.img_dog
                    %img(src="./img/saas.jpg" width="100%" height="auto" alt="dog ih car")        
        %div.container3
            %div.block 
            .left_box3
                %h1 DOG TRAINING
                %p Vitae congue mauris rhoncus aenean vel elit scelerisque. Consequat nisl vel pretium lectus quam id leo in vitae. Dictum sit amet justo donec enim diam vulputate. Sociis natoque penatibus et magnis dis parturient.
                %div
                    %button.button1 READ MORE 
            .right_box3
                %div.img_dog
                    %img(src="./img/gfg.jpg" alt="glassDOG" width="100%" height="100%")    
        %div.container4
            .left_box4
                .text 
                    %h3 Our Projects 
                    %p Eget velit aliquet sagittis id. Sed velit dignissim sodales ut eu sem integer. Malesuada fames ac turpis egestas integer eget aliquet nibh. Dui id ornare arcu odio. Tincidunt lobortis feugiat vivamus at augue eget arcu dictum varius. Ullamcorper malesuada proin libero nunc consequat interdum varius sit amet. Dui ut ornare lectus sit. Placerat orci nulla pellentesque dignissim. Nibh mauris cursus mattis molestie a iaculis.
                    %button.button1 READ MORE
            .right_box4
                %div.img_dog
                    %div.dog1
                        %img(src="./img/3.jpg" alt="blackDOG" width="100%" height="100%")    
                    %div.dog2
                        %img(src="./img/sdsdsdsd.jpg" alt="brownDOG" width="100%" height="100%")    
                    %div.dog3  
                        %img(src="./img/sasasa.jpg" alt="hi5DOG" width="100%" height="100%")    
        %div.container5
            .left_box5
                .text_block 
                    %h1 LEARN YOUR DOG'S MOODS
                    %p  Sample text. Click to select the text box. Click again or double click to start editing the text.
                    %button.button1 LEARN MORE 
            .right_box5
                %div_dog
                    %img(src="./img/a-min.jpg" alt="haskyDOG" width="80%" height="80%")
                .block
        %div.container6
            .left_box6
                %h1 ABOUT US
                %p Cras adipiscing enim eu turpis egestas pretium aenean pharetra magna. Tempus urna et pharetra pharetra massa massa ultricies mi quis. Ut faucibus pulvinar elementum  enim neque volutpat. Augue mauris augue neque gravida in. Venenatis cras sed felis eget velit aliquet sagittis. Morbi leo urna molestie at.
            .right_box6 
                .block
                    %img(src="./img/sxa-min.jpg" alt="kissDOG" width="100%" height="100%")   
        %div.container7
            .left_box7 
                %h1 CONTACT US
                %div.form
                    %p Name
                    %input 
                    %p Email
                    %input 
                    %p Message
                    %button SUBMIT
                                       
            .right_box7
                .box_cont
                    %h1 CALL US 
                    %p 1 (234) 567-891
                    %p 1 (234) 987-654
                    %h1 LOCATION 
                    %p 121 Rock Sreet, 21 Avenue,
                    %p New York, NY 92103-9000
